<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
	bootstrap="..\..\..\..\autoload.php"
	cacheResult="false"
	verbose="true"
	columns="60">

	<php>
		<!-- <env name="db_user" value="admin" /> -->
		<!-- <env name="APP_DEBUG" value="Moved to TestCase class" /> -->
		<!-- <env name="APP_TESTING" value="Moved to TestCase class" /> -->
	</php>

	<testsuites>

		<testsuite name="default">
			<directory suffix="Test.php">..</directory>
		</testsuite>

	</testsuites>

	<coverage>
		<include>
			<directory suffix=".php">../../src</directory>
			<directory suffix=".php">../../src/**</directory>
		</include>
	</coverage>

</phpunit>
